# compiled output
/dist
/node_modules

# log
/logs

# package lock
bun.lockb

# auto generated graphql types
graphql/resolvers.ts
graphql/resolvers.js

# auto generated prisma libs
prisma/client

# dotenv
.env.dev
